@font-face {
    src: url("../polices/gang_of_three.ttf");
}

.backround{
	-fx-background-image: url("../images/background.jpg");
	-fx-background-position: center center;
	-fx-background-size: cover;
	
}

.panneauControl{
	-fx-background-color: black;
}

.fondCasePlateau{
	-fx-background-image: url("../images/texture_terre.jpg");
	-fx-background-position: center center;
	-fx-background-size: cover;
	-fx-border-color: black;
    -fx-border-width: 1px;
}

.labelTitre{
	-fx-font-family: "Gang of Three";
	-fx-font-size: 74;
	-fx-text-fill: red;
	-fx-stroke: white;
    -fx-stroke-width: 2px;
}

.labelTitre .text {
    -fx-stroke: white;
    -fx-stroke-width: 2px;
}

.labelFormulaire{
	-fx-font-family: "Gang of Three";
	-fx-font-size: 25;
	-fx-text-fill: red;
}

.labelFormulaire .text {
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

.labelJoueur1{
	-fx-font-family: "Gang of Three";
	-fx-font-size: 18;
	-fx-text-fill: red;
}

.labelJoueur2{
    -fx-font-family: "Gang of Three";
	-fx-font-size: 18;
	-fx-text-fill: white;
}

.labelJoueurActuel{
    -fx-font-family: "Gang of Three";
	-fx-font-size: 16;
	-fx-text-fill: green;
}

.textFieldFormulaire{
	-fx-font-family: "Gang of Three";
	-fx-font-size: 25;
	-fx-background-color: black;
	-fx-text-fill: red;
}

.buttonMenu{
	-fx-background-color: black;
	-fx-border-color: white;
	
	-fx-font-size: 30;
	-fx-font-family: "Gang of Three";
	-fx-text-fill: red;
	-fx-stroke: white;
    -fx-stroke-width: 2px;
}

.buttonMenu:hover{
	-fx-background-color: darkgray ;
}

.buttonTerminer{
	-fx-background-color: black;
	-fx-border-color: white;
	
	-fx-font-size: 20;
	-fx-font-family: "Gang of Three";
	-fx-text-fill: red;
	-fx-stroke: white;
    -fx-stroke-width: 2px;
}

.buttonTerminer:hover{
	-fx-background-color: darkgray ;
}

.labelCopyright{
	-fx-font-size: 20;
	-fx-text-fill: white;
	-fx-font-family: "Gang of Three";
}